body {
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

body::before {
    content: '';
    background-image: url('../img/fundoLogin.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px); /* Aplica o desfoque somente na imagem */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.Login-Form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative; /* Necessário para centralizar */
}
.loginH {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.loginH img {
    width: 100px;
}

.Login_name {
    border: 2px solid #333;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 300px;
    outline: none;
    width: 100%;
    padding: 15px;

}

.Login_botão {
    background-color: #333;
    border-radius: 5px;
    margin-bottom: 10px;
    color: antiquewhite;
    cursor: pointer;
    max-width: 300px;
    padding: 15px;
    width: 100%;
}

.Login_botão:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

.form-background {
    background-color: rgba(192, 192, 192, 0.8); /* Fundo cinza com transparência */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 50px; /* Espaçamento interno ajustado */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza */
    width: 90%; /* Ajusta largura para ocupar boa parte da tela */
    max-width: 400px; /* Limita a largura máxima */
    height: 300px;; /* Altura se ajusta ao conteúdo */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    z-index: -1; /* Fica atrás do formulário */
}

a{
    color: #333;
    text-decoration: none; 
}

.ai {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none; 
    border-radius: 5px;
    font-weight: bold;
    position: fixed;
    top: 20px; 
    left: 20px; 
    z-index: 1000; 
    display: inline-block; 
    border: none; 
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
}

.ai:hover {
    background-color: #3a813d;
}




footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 10;
}

footer .img-container {
    display: flex; /* Alinha as imagens em linha */
    background-color: rgba(182, 182, 182, 0.7); /* Fundo semitransparente */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 5px; /* Espaçamento entre as imagens e o fundo */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra */
}

footer a {
    margin: 0 12px;
}

footer a img {
    width: auto;
    height: 40px;
    max-width: 100%;
    max-height: 100%;
}

footer a:hover {
    opacity: 0.7;
}
