body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* Define que o body ocupa 100% da altura */
}

.menu {
  background-image: url('img/inicialS.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
  
}

.Play img {
  height: 200px; /* Ajusta o tamanho desejado */
  width: auto;  /* Ajusta o tamanho desejado */
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-size: contain;
}



